
  <div class="new-entry">
    <p style="font-weight:bold">Add A Song</p>

    <%@song = Song.new%>

    <%= form_for(@song) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.label :title %>
       &nbsp;&nbsp;&nbsp; <%= f.text_field :title, :size => 15%>

        <%= f.label :year %>
        <%= f.text_field :year, :size => 5%>
      </p>
      <p>
        <%= f.label :artist %>
       &nbsp;&nbsp;&nbsp;<%= f.text_field :artist, :size => 30%>
      </p>
      <p>
        <%= f.label :album %>
        &nbsp;<%= f.text_field :album, :size => 30%>
      </p>
      <p>
        <%= f.label :genre %>
        &nbsp;<%= f.text_field :genre, :size => 21%>
      </p>
      <p>
        <%= f.label :picture %>
        <%= f.text_field :picture, :size=>21 %>
      </p>
      <p>
        <%= f.label :location %>
        <%= f.text_field :location, :size=>20 %>
      </p>

      <p>
        <%= f.submit 'Add' %>
      </p>
    <% end %>
  </div>  