<!song index>
<% content_for :header_links do %>
  <%= link_to image_tag("home-ns.jpg", :border => 0, :title => "home"), :controller => "home", :action => "index" %>
  <%= link_to image_tag("configuration-ns.jpg", :border => 0, :title => "maintenance"), :controller => "maintenance", :action => "index" %>
<% end %>

<% content_for :content_links do %>
          <div class="content-link" onclick="location.href='<%=movies_path%>'"><%= link_to 'Movies', movies_path %></div>
          <div class="content-link" onclick="location.href='<%=shows_path%>'"><%= link_to 'Shows', shows_path %></div>
          <div class="selected-content-link" onclick="location.href='<%=songs_path%>'"><%= link_to 'Music', songs_path %></div><!this is just a placeholder till I make the music stuff>
<% end %>

<% content_for :display_window do %>
  <% end %>

<% content_for :content_column do %>
        <div class="content-column" style="text-align:center"><!the third row containing the content columns>
          <div class="band-column"><h3>Bands</h3></div>
            <div class="category-column"><h3>Categories</h3></div>
            <div class="playlist-column"><h3>Playlists</h3></div>
        </div>
<% end %>