<!--show edit -->
<div class="header">
  <%= link_to image_tag("home-ns.jpg", :border => 0, :title => "home"), :controller => "home", :action => "index" %>
  <%= link_to image_tag("configuration.jpg", :border => 0, :title => "maintenance"), :controller => "maintenance", :action => "index" %>
</div><!this is the header row>
  <div class="content-row">
    <div class="col-wrapper">
      <!-- <div class="left-col"></div><!this is the left column> -->
      <div class="middle-col"><!the middle column with all the "stuff">
        <div class="content-links"><!the first row with links to the content pages>
          <div class="content-link"><%= link_to 'Movies', movies_path %></div>
          <div class="content-link"><%= link_to 'Shows', shows_path %></div>
          <div class="content-link"><%= link_to 'Music', songs_path %></div><!this is just a placeholder till I make the music stuff>
        </div>
        <div class="maintenance-window"><!the second row containing the maintenance window>

            <h1>Editing movie</h1>

            <%@shows.each do |show|%>
              <div class="show-maintenance-edit">
               <%= form_for(:show) do |f| %>
                <%= f.error_messages %>

                <p>
                  <%= f.label :title %>
                  <%= f.text_field :title, :size => 15%>
                </p>
                <p>
                  <%= f.label :picture %>
                  <%= f.text_field :picture, :size=>20 %>
                </p>
                <p>
                  <%= f.label :location %>
                  <%= f.text_field :location, :size=>20 %>
                </p>
                <p>
                  <%= f.label :description %><br />
                  <%= f.text_area :description, :size => "40x5" %>
                </p>

                <p>
                  <%= f.submit 'Update' %>
                </p>
              <% end %>
              </div>
            <% end %>
            <%= link_to 'Back', :controller => "maintenance", :action => "index" %>


        </div>
      </div>
      <!--<div class="right-col"></div><!this is the right column> -->
    </div>
  </div>
