<!show index>
<% content_for :header_links do %>
  <%= link_to image_tag("home-ns.jpg", :border => 0, :title => "home"), :controller => "home", :action => "index" %>
  <%= link_to image_tag("configuration-ns.jpg", :border => 0, :title => "maintenance"), :controller => "maintenance", :action => "index" %>
<% end %>

<% content_for :content_links do %>
          <div class="content-link"><%= link_to 'Movies', movies_path %></div>
          <div class="selected-content-link"><%= link_to 'Shows', shows_path %></div>
          <div class="content-link"><%= link_to 'Music', songs_path %></div><!this is just a placeholder till I make the music stuff>
<% end %>

<% content_for :display_window do %>
  <% end %>

<% content_for :content_column do %>
        <div class="content-column" style="text-align:center"><!the third row containing the content columns>
            <div class="show-grid"><h3>Shows</h3></div>
        </div>
<% end %>